body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 30px;
    
}

.container-box {
    display: flex;
    margin-bottom: 100px;
}

.fitnes-bar {
    width: 50%;
    margin-left: 5%;
}


.fitnes-bar img {
    width: 85%;
}


h1 span {
    color: rgb(253, 171, 18);
}

p {
    font-size: 18px;
    color: rgb(173, 151, 151);
    padding-bottom: 20px;
}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(salmon,orange);
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    
}


#background-pic {
    background-image: url(imges/Shape/Frame\ 57.jpg);
    background-repeat: no-repeat;
    padding-top: 20px;
}

.food-titel{
    text-align: center;
}

.box-shadow{
    margin-right: 2%;
    border-radius: 10px;
    padding: 30px 0 0 35px;
    box-shadow: 5px 5px 45px gray;
}

.box-shadow img {
    border-radius: 10px;
}

.box-shadow h4 {
    font-size: 25px;
}
.box-shadow p {
    color: rgb(68, 64, 64);
}

.chanel-box {
    display: flex;
    box-shadow: 5px 5px 45px gray;
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    border-radius: 10px;
}
